// Override wrapper.styl since editing it doesn't work for some reason
.theme-default-content:not(.custom)
  max-width none
  padding 0
  > *:not(.newsletter-signup):not(.hero-banner):not(#home-callout-2):not(.campaign-media)
    max-width $contentWidth
    margin-left auto
    margin-right auto
    padding-left 2.5rem
    padding-right 2.5rem

// Not sure how to override SCSS Bootstrap variables from Stylus, so here goes...
.container
  max-width 919px

h1
  font-size 51px

.lead
  font-size 19px
  letter-spacing 6px
  text-transform uppercase

.text-light
  color: $lightColor !important

.btn
  border-radius 0
  font-weight bold
  transition background-color 0s
  &:hover
    background $secondaryColor !important
    border-color $secondaryColor
    color white !important
  &[class*="outline"]
    border-width 3px
  &:not([class*="outline"])
    border none
    color white
  &.btn-primary
    background $primaryColor
  &.btn-light
    background $lightColor
  &.btn-dark
    background $darkColor
a.btn:hover
  text-decoration none !important

.theme-default-content .btn-lg
  box-shadow 7px 7px 17px 0px rgba(0,0,0,.22)

input
  padding-bottom 17px
  padding-left 20px
  padding-right 10px
  padding-top 17px
  border none

#home-callout-1
  margin-top 10rem
  margin-bottom 5rem
#home-callout-2
  height 622px
  > .col
    &:first-child
      background-image url("https://static.wixstatic.com/media/5a3786_8290f97988ba406dbb29c007eb77e00c~mv2_d_4032_2520_s_4_2.jpg")
      background-size cover
    &:last-child
      background $primaryColor