// Override wrapper.styl since editing it doesn't work for some reason
.theme-default-content:not(.custom)
  max-width none
  padding 0
  > *:not(.newsletter-signup)
    max-width $contentWidth
    margin-left auto
    margin-right auto
    padding-left 2.5rem
    padding-right 2.5rem

// Not sure how to override SCSS Bootstrap variables from Stylus, so here goes...
.container
  max-width $contentWidth

h1
  font-size 51px

.lead
  font-size 19px
  letter-spacing 6px
  text-transform uppercase

.text-light
  color: $lightColor

.btn
  border-radius 0
  font-weight bold
  &:hover
    background $secondaryColor !important
    border-color $secondaryColor
    color white !important
  &[class*="outline"]
    border-width 3px
  &:not([class*="outline"])
    border none
    color white
  &.btn-primary
    background $primaryColor
  &.btn-light
    background $lightColor

.theme-default-content .btn-lg
  box-shadow 7px 7px 17px 0px rgba(0,0,0,.22)

input
  padding-bottom 17px
  padding-left 20px
  padding-right 10px
  padding-top 17px
  border none