// Override VuePress' default theme colors
$accentColor = #0063a8 // Bootstrap's primary
$secondaryColor = #178f49

// Our custom colors
$primaryColor = lighten($accentColor, 10%)

// Other VuePress theme variables
$navbarHeight = 5rem
$MQMobile = 1050px