// Override VuePress' default theme colors
$accentColor = #0063a8 // Bootstrap's primary

// Our custom colors
$primaryColor = lighten($accentColor, 10%)
$lightColor = lighten($accentColor, 80%)
$darkColor = darken($accentColor, 20%)

$secondaryColor = #178f49

// Other VuePress theme variables
$navbarHeight = 5rem
$MQMobile = 1084px